<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>パンキースタジオ ホーム</title>
</head>
<body>
<% include common/_header %>
<img src="/resources/ba_1111.gif" width="247" height="71" border="0">
<p>予約:<a href="tel:042-677-9500">042-677-9500</a></p>
<div><a href="./pc/index.html">PC</a></div>
<div><a href="./sp/index.html">MOBILE</a></div>
<% include common/_footer %>
<script type="text/javascript" src="/js/app.bundle.js"></script>
</body>
</html>
